@model PhoneBook.EndPoints.Mvc.Models.PhoneViewModel
@{
    ViewData["Title"] = "Add";
}

<h3>Add Phone</h3>
@if (Model.IsInsertNewPhone)
{
    <p class="alert-success">Success Insert new Phone Number</p>
}
<form asp-controller="Phones" asp-action="Add">
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-group" style="display:none">
        <label asp-for="PersonId"></label>
        <input asp-for="PersonId" />
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</form>
<a  asp-controller="People" asp-action="Detail" asp-route-id="@Model.PersonId">Back To Detail Person</a>


