@model UpdateUserForDisplayViewModel
@{
    ViewData["Title"] = "Update";
}

@section Head
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
}
<h1>Update User</h1>

<form asp-controller="User" asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="SelectedRole">Role Name</label>
        <select multiple class="form-control select2" name="SelectedRole" >
            @foreach (var item in Model.DisplayRoleName)
            {
                <option value="@item.Id"> @item.Name</option>
            }
        </select>
    </div>
    <input type="submit" class="btn btn-primary" value="Edit" />
</form>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.select2').select2();
            $('.select2')
                .select2({
                    data: @Model.DisplayRoleName,
                    tags: true,
                    tokenSeparators: [','],
                    placeholder: "Add your tags here"
                });
        });
    </script>
}