@model  List<AppRole>
@{
    ViewData["Title"] = "Index";
}

<h4>List Roles User</h4>

<table>
    <tr>
        <th>Role Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
</table>
